
#content-container {
    padding: 2em;
    margin: 2em;
    text-align: center;
    align-content: center;

}

a:hover {
    text-decoration: none;
}

.row {
    padding: 1em;
}

.col {
    padding-right: 0;
    padding-left: 0;
}

#form-container {
    border: thick ridge aliceblue;

}

ol.nostyle {
    list-style-type: none;
}

.form-control {
    display: inline-block;
    max-width: 50%;
}

.btn-info {
    background-color: #007bff;
}

.btn-info:hover {
    background-color: #1f62a2;
}

.btn-secondary {
    background-color: #007bff;
}
